<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/global.css">
	<script src="/static/jquery.1.7.2.js"></script>
    <script src="/static/menuscripts.js"></script>
    <script src="/static/jquery-ui-1/js/jquery-ui-1.8.22.custom.min.js"></script>

 	<title>SouthFork Project - BOM Prototype</title>
</head>

<body>
    
    <div id = "main">
        {% block content %}{% endblock %}
    </div>
</div>
  
   
</body>
</html>
