{% extends "base.html" %}

{% block header %}
	<div class="span8">
		<h1>Southfork Project - BOM Prototype</h1>
	</div>
	<div class="span2 offset2">
		
			<p>Welcome {{request.user}}</p>
			<p><a class="btn btn-inverse" href="/account/logout/">Logout</a></p>
		
	</div>
{% endblock %}

{% block menu %}
	<div class="span12">
		<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">SouthFork Platform</a>
			<ul class="nav">
				<li><a href="/bom/productinfo/">Product Info</a></li>
				<li><a href="/bom/BOMInfo/">BOM Info</a></li>	
			</ul>
			<ul class="nav pull-right">
				
				<li><a href="/account/">Account</a></li>	
				<li><a href="/admin/">Admin</a></li>
			</ul>
		</div>
		</div>
	</div>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
	<h4>{{key_contact}}</h4>
	<h4>{{email_contact}}</h4>
	<p>Copyright of VF Nexus &copy; 2013</p>

{% endblock %}
