{% extends "bom/bom_base.html" %}

{% block main_content %}
<h1>{{ "BOM View" }}</h1>

<form METHOD="LINK" ACTION="/bom/BOMInfo/add_bom/">
<INPUT TYPE="submit" VALUE="Add BOM">
</form>

<form METHOD="LINK" ACTION="/bom/productinfo/">
<INPUT TYPE="submit" VALUE="Back to Product View">
</form>


<table class="table">
	<tr>
		<th>BOM ID</th>
		<th>Description</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>
	{% for p in bom_list %}
	<tr>
		<td>{{ p.BOMID }}</td>
		<td>{{ p.Description }}</td>
		<td><a class="btn btn-danger" href="/bom/mfgbom/bom_delete/{{ p.BOMID }}/">Delete</a></td>
		<td>Edit</td>
		
	</tr>
	{% endfor %}
</table>
{% endblock %}
