{% extends "bom/bom_base.html" %}

{% block main_content %}

<form METHOD="LINK" ACTION="/bom/Components/add_components/">
<INPUT TYPE="submit" VALUE="Associate Components to BOM">
</form>


	<h1>{{ BOMInfo.bom_number }}</h1>
	<table class="table">
		<tr>
			<th>BOM Number</th>
			<th>Components</th>
		</tr>
		
		<tr>
			<td>{{ bd.bom_number }}</td>
			{% if bd.comps.all %}
				{% for bom in bd.comps.all %}
					<td><a href="{{ bom.get_absolute_url}}">{{ bom.part_number }}</a></td>
					</tr><tr><td></td>
				{% endfor %}
			{% else %}
				<td>N/A</td>
			{% endif %}			
		</tr>
		
	</table>
{% endblock %}

