{% extends "bom/bom_base.html" %}

{% block main_content %}
<h1>{{ "Component Details" }}</h1>

<form METHOD="LINK" ACTION="/bom/Components/add_components/">
<INPUT TYPE="submit" VALUE="Associate Components to BOM">
</form>


	<h1>{{ BOMInfo.bom_number }}</h1>
	<table class="table">
		<tr>
			<th>BOM Number</th>
			<th>Components</th>
			<th>Quantity</th>
		</tr>
		
		<tr>
			<td>{{ cd.bom }}</td>
			{% if cd.part_number.all %}
				{% for bom in cd.part_number.all %}
					<td><a href="{{ bom.get_absolute_url}}">{{ bom.part_number }}</a></td>
					</tr><tr><td></td>
				{% endfor %}
			{% else %}
				<td>N/A</td>
			{% endif %}
			{% if cd.qty.all %}
				{% for bom in cd.qty.all %}
					<td>{{ bom.qty }}</a></td>
					</tr><tr><td></td>
				{% endfor %}
			{% else %}
				<td>N/A</td>
			{% endif %}		
		</tr>
		
	</table>
{% endblock %}

