{% extends "bom/bom_base.html" %}

{% block main_content %}
<h1>{{ "Components View" }}</h1>

<form METHOD="LINK" ACTION="/bom/Components/add_components/">
<INPUT TYPE="submit" VALUE="Add BOM">
</form>

<form METHOD="LINK" ACTION="/bom/productinfo/">
<INPUT TYPE="submit" VALUE="Back to Product View">
</form>

<table class="table">
	<tr>
		<th>Part Number</th>
		<th>Quantity</th>
#		<th>Description</th>
#		<th>ComponentName</th>
#		<th>Revision</th>
#		<th>TODate</th>
#		<th>ComponentCategory</th>
#		<th>Manufacturers</th>
#		<th>ComponentDrawing</th>
#		<th>Delete</th>
	</tr>
	{% for p in components_list %}
	<tr>
		<td>{{ p.part_number }}</td>
		<td>{{ p.qty }}</td>
#		<td>{{ p.Description }}</td>
#		<td>{{ p.ComponentName }}</td>
#		<td>{{ p.Revision }}</td>
#		<td>{{ p.TODate }}</td>
#		<td>{{ p.ComponentCategory }}</td>
#		<td>{{ p.Manufacturers }}</td>
#		<td>{{ p.ComponentDrawing }}</td>
#		<td><a class="btn btn-danger" href="/bom/mfgbom/bom_delete/{{ p.BOMID }}/">Delete</a></td>
#		<td>Edit</td>
		
	</tr>
	{% endfor %}
</table>

{% endblock %}