{% extends "bom/bom_base.html" %}

{% block main_content %}
<h1>{{ "Product List" }}</h1>

<form METHOD="LINK" ACTION="/bom/productinfo/add_product/">
	<INPUT TYPE="submit" VALUE="Add New Product">
</form>


<table class="table">
	<tr>
		<th>Part Number</th>
        <th>Description</th>
		<th>Product Generation</th>
		<th>Revision</th>
		<th>Product Category</th>
		<th>TO Date</th>
		<th>Active (yes/no)</th>
		<th>Theoretical Cycle Time</th>
		<th>Created Date/Time</th>
		<th>Updated Date/Time</th>
		<th>Product File</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>
	{% for p in product_list %}
	<tr>
		<td><a href="{{ p.get_absolute_url}}">{{ p.part_number }}</a></td>
		<td>{{ p.description }}</td>
		<td>{{ p.product_generation }}</td>
		<td>{{ p.revision }}</td>
		<td>{{ p.product_category }}</td>
		<td>{{ p.to_date }}</td>
		<td>{{ p.active }}</td>
		<td>{{ p.theoretical_cycle_time }}</td>
		<td>{{ p.created_at }}</td>
		<td>{{ p.updated_at }}</td>
		<td><a class="btn btn-info" href="{{ p.product_file }}">File</a></td>
		<td><a class="btn btn-danger" href="/bom/productinfo/product_delete/{{ p.part_number }}/">Delete</a></td>
		<td>Edit</td>
		
	</tr>
	{% endfor %}
</table>

{% endblock %}


