
<h1>{{ ProductInfo.ProductID }}</h1>

<ul>
	<table border="1" style="width:200px;">
	<tr class="headers">
		<td>Product ID</td>
		<td>Part Number</td>
		<td>Description</td>
		<td>Product Generation</td>
		<td>Revision</td>
		<td>Product Category</td>
		<td>TO Date</td>
		<td>Active (yes/no)</td>
		<td>Theoretical Cycle Time</td>
		<td>Created Date/Time</td>
		<td>Updated Date/Time</td>
	</tr>
	{% for p in product_list %}
	<tr>
		<td>{{ p.ProductID }}</td>
		<td>{{ p.PartNumber }}</td>
		<td>{{ p.Description }}</td>
		<td>{{ p.ProductGeneration }}</td>
		<td>{{ p.Revision }}</td>
		<td>{{ p.ProductCategory }}</td>
		<td>{{ p.TODate }}</td>
		<td>{{ p.Active }}</td>
		<td>{{ p.TheoreticalCycleTime }}</td>
		<td>{{ p.created_at }}</td>
		<td>{{ p.updated_at }}</td>
	</tr>
	{% endfor %}
	</table>
</ul>

