{% extends "bom/bom_base.html" %}

{% block main_content %}
	<h1>{{ ProductInfo.ProductID }}</h1>
	<table class="table">
		<tr>
			<th>Part Number</th>
			<th>Description</th>
			<th>Product Generation</th>
			<th>Revision</th>
			<th>Product Category</th>
			<th>TO Date</th>
			<th>Active (yes/no)</th>
			<th>BOM</th>
		</tr>
		
		<tr>
			<td>{{ pd.part_number }}</td>
			<td>{{ pd.description }}</td>
			<td>{{ pd.product_generation }}</td>
			<td>{{ pd.revision }}</td>
			<td>{{ pd.product_category }}</td>
			<td>{{ pd.to_date }}</td>
			<td>{{ pd.active }}</td>
			<td>{{ pd.bom_number }}</td>
			
		</tr>
		
	</table>
{% endblock %}

