
<h1>{{ "Product List" }}</h1>

<form METHOD="LINK" ACTION="/bom/productinfo/add_product/">
	<INPUT TYPE="submit" VALUE="Add Product">
</form>

<form METHOD="LINK" ACTION="/bom/BOMInfo/">
	<INPUT TYPE="submit" VALUE="View BOM">
</form>

<form METHOD="LINK" ACTION="/bom/Components/add_components/">
	<INPUT TYPE="submit" VALUE="Add Components">
</form>

<ul>
	<table border="1" style="width:200px;">
	<tr class="headers">
		<td>Part Number</td>
		<td>Description</td>
		<td>Product Generation</td>
		<td>Revision</td>
		<td>Product Category</td>
		<td>TO Date</td>
		<td>Active (yes/no)</td>
		<td>BOM ID</td>
		<td>Theoretical Cycle Time</td>
		<td>Created Date/Time</td>
		<td>Updated Date/Time</td>
		<td>Product File</td>
		<td>Delete</td>
		<td>Edit</td>
	</tr>
	{% for p in product_list %}
	<tr>
		<td>{{ p.part_number }}</td>
		<td>{{ p.description }}</td>
		<td>{{ p.product_generation }}</td>
		<td>{{ p.revision }}</td>
		<td>{{ p.product_category }}</td>
		<td>{{ p.to_date }}</td>
		<td>{{ p.active }}</td>
		{% if p.bom_number %}
			{% for bom in p.bom_number.all %}
				<td><a href="/bom/Components/{{ bom.get_absolute_url}}/">{{ bom.part_number }}</a></td>
			{% endfor %}
		{% else %}
			<td>No child component</td>
		{% endif %}
		<td>{{ p.theoretical_cycle_time }}</td>
		<td>{{ p.created_at }}</td>
		<td>{{ p.updated_at }}</td>
		<td><a href="c:/users/dilan/documents/djcode/wss code/product/uploaded_productfiles/{{ p.product_file }}/">File</a></td>
		<td><a href="/bom/productinfo/product_delete/{{ p.part_number }}/">Delete</a></td>
		<td>Edit</td>
		
	</tr>
	{% endfor %}
	</table>
</ul>


